<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<meta name="AUTOR" content="D2th3" />
<title>Molde Boleto Banc&aacute;rio</title>
<style type="text/css">
#boleto_parceiro {
	height: 85px;
	width: 666px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
}
.am {
	font-size: 9px;
	color: #333333;
	height: 10px;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: center;
	width: 320px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-left-color: #000000;
}
#boleto{
	height: 416px;
	width: 666px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

#tb_logo {
	height: 40px;
	width: 666px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
#tb_logo #td_banco {
	height: 22px;
	width: 53px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.ld {font: bold 15px Arial; color: #000000}
.td_7_sb {
	height: 26px;
	width: 7px;
}
.td_7_cb {
	width: 7px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
	height: 26px;
}
.td_2 {
	width: 2px;
}
.tabelas td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.direito {
	width: 178px;
}
.titulo {
	font-size: 9px;
	color: #333333;
	height: 10px;
	font-weight: bold;
	margin-bottom: 2px;
}
.var {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 13px;
}
.direito .var{
	text-align: right;
}
</style>
</head>

<body>
<div id="boleto_parceiro">
  <table style="width:666px; height:28px; border-bottom:solid; border-bottom-color:#000000; border-bottom-width:2px; border-top:solid; border-top-color:#000000; border-top-width:2px; margin-bottom: 5px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="td_7_sb"> </td>
    <td style="width: 300px;"><div class="titulo">Cedente: </div><div class="var">$boleto.nomeCedente</div></td>
    <td style="width: 168px;"><div class="titulo">CNPJ</div><div class="var">$boleto.documentoCedente</div></td>
  </tr>
   <tr>
	<td class="td_7_sb"> </td>
	<td style="width: 468px;" colspan="2"><div class="titulo">Endere&ccedil;o: </div><div class="var">$boleto.enderecoCedente</div></td>
   </tr>
</table>

 <table style="width:666px; height:28px; border-bottom:solid; border-bottom-color:#000000; border-bottom-width:2px; border-top:solid; border-top-color:#000000; border-top-width:2px; margin-bottom: 5px;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td style="width: 468px;text-align:right;font-size: 25px; font-weight:bold;"><div class="titulo">Recibo Sacado</div><div class="var"> </div></td>
    </tr>
  </table>
</div>
<hr style="border: 1px dashed black;" />
<div id="boleto">
  <table class="tabelas" border="0" cellpadding="0" cellspacing="0" id="tb_logo" style="width:666px; border-bottom:solid; border-bottom-width:2px; border-left-color:#000000;">
    <tr>
      <td valign="center" style="width:150px;"><img src="https://www.accesstage.com.br/boleto/imgprovider?i=033.jpg" alt="Banco Santander" width="150" height="20" /></td>
	  <td align="right"  valign="bottom" style="width:6px;"></td>
      <td align="center" valign="bottom" style="font-size: 15px; font-weight:bold;" id="td_banco">$boleto.banco</td>
      <td align="right"  valign="bottom" style="width:6px;"></td>
      <td align="right"  valign="bottom" style="font-size: 20px; font-weight:bold; width:445px;"><span class="ld">$boleto.linhaDigitavelFormatada</span></td>
      <td align="right"  valign="bottom" style="width:2px;"></td>
    </tr>
  </table>
  <table class="tabelas" style="width:666px; border-left:solid; border-left-width:2px; border-left-color:#000000;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td style="width: 469px;"><div class="titulo">Local do Pagamento</div>
      <div class="var">$boleto.localPagamento</div></td>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">Vencimento</div>
        <div class="var">$boleto.vencimento</div></td>
      <td class="td_2"> </td>
    </tr>
    <tr>
      <td class="td_7_sb"> </td>
      <td><div class="titulo">Cedente</div>
      <div class="var">$boleto.nomeCedente</div></td>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">Ag&ecirc;ncia / C&oacute;digo do Cedente</div>
      <div class="var">2271-7/7932235</div></td>
      <td> </td>
    </tr>
  </table>
  <table class="tabelas" style="width:666px; border-left:solid; border-left-width:2px; border-left-color:#000000;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td style="width:103px;"><div class="titulo">Data  Documento</div>
        <div class="var">$boleto.dataDocumento</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:133px;"><div class="titulo">N&uacute;mero Documento</div>
      <div class="var">$boleto.numeroDocumento</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:62px;"><div class="titulo">Esp&eacute;cie Doc.</div>
      <div class="var">DM</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:34px;"><div class="titulo">Aceite</div>
      <div class="var">N</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:103px;"><div class="titulo">Data Processamento</div>
      <div class="var">$boleto.dataProcessamento</div></td>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">Nosso N&uacute;mero</div>
      <div class="var">$boleto.nossoNumero</div></td>
      <td class="td_2"> </td>
    </tr>
  </table>
  <table class="tabelas" style="width:666px; border-left:solid; border-left-width:2px; border-left-color:#000000;" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td><div class="titulo">Carteira</div>
      <div class="var">101</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:55px;"><div class="titulo">Esp&eacute;cie</div>
      <div class="var">REAL</div></td>
      <td class="td_7_cb"> </td>
      <td style="width:104px;"><div class="titulo">Quantidade</div>
      <div class="var"></div></td>
      <td class="td_7_cb"> </td>
      <td style="width:103px;"><div class="titulo">Valor</div>
      <div class="var"></div></td>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">Valor do Documento</div>
      <div class="var">R$ $boleto.strValorDocumento</div></td>
      <td class="td_2"> </td>
    </tr>
  </table>
  <table class="tabelas" style="width:666px; border-left:solid; border-left-width:2px; border-left-color:#000000;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td rowspan="5" class="td_7_sb"> </td>
      <td rowspan="5" valign="top"><div class="titulo" style="margin-bottom:18px;">Instru&ccedil;&otilde;es (texto de responsabilidade do Cedente)</div>
        <div class="var">Juros/Mora ao Dia : R$ $boleto.strMulta ap&oacute;s $boleto.vencimento<br /></div>
      </td>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">(-) Desconto / Abatimento</div>
      <div class="var"> </div></td>
      <td class="td_2"> </td>
    </tr>
    <tr>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">(-) Outras Dedu&ccedil;&otilde;es</div>
      <div class="var"> </div></td>
      <td class="td_2"> </td>
    </tr>
    <tr>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">(+) Multa / Mora</div>
      <div class="var"> </div></td>
      <td class="td_2"> </td>
    </tr>
    <tr>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">(+) Outros Acr&eacute;scimos</div>
      <div class="var"> </div></td>
      <td class="td_2"> </td>
    </tr>
    <tr>
      <td class="td_7_cb"> </td>
      <td class="direito"><div class="titulo">(=) Valor Cobrado</div>
      <div class="var"> </div></td>
      <td class="td_2"> </td>
    </tr>
  </table>
  <table class="tabelas" style="width:666px; height:65px; border-left:solid; border-left-width:2px; border-left-color:#000000;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td valign="top"><div class="titulo">Sacado</div>
        <div class="var" style="margin-bottom:5px; height:auto">$boleto.nomeSacado<br />
        $boleto.endereco<br />
        $boleto.cidade/$boleto.uf - CEP: $boleto.cep</div>
        <div class="titulo">Sacador / Avalista</div></td>
      <td class="td_7_sb"> </td>
      <td class="direito" valign="top"><div class="titulo">CPF / CNPJ</div>
        <div class="var" style="text-align:left;">$boleto.documentoSacado </div></td>
      <td class="td_2"> </td>
    </tr>
  </table>
  <table style="width:666px; border-top:solid; border-top-width:2px; border-top-color:#000000;" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_7_sb"> </td>
      <td style="width: 417px; height:62px;"><IMG SRC="$boleto.url/BarcodeServlet?BARCODE=$boleto.codigoBarras" width="417px" height="62px" /></td>
      <td class="td_7_sb"> </td>
      <td valign="top"><div class="titulo" style="text-align:left;">Autentica&ccedil;&atilde;o Mec&acirc;nica - FICHA DE COMPENSA&Ccedil;&Atilde;O</div></td>
      <td class="td_2"> </td>
    </tr>
  </table>
</div>
</body>
</html>